@use '@/styles' as *;
.header {
    z-index: 2;
    width: 100%;
    padding: 2vh 7vw;
    margin-top: 5px;
    background: inherit 30%;
    border-radius: 5px;
}
.hamburger {
    font-size: 18px;
    color: $secondary;
}