.lgfirst,.lgsecond,.lgthird,.lgfourth,.lgfifth{
    position: relative;
}
@media(min-width: 992px){
    .lgfirst{
        top: 20%;
    }
    .lgsecond{
        left: 10%;
    }
    .lgthird{
        bottom: 10%;
    }
    .lgfourth{
        left: 10%;
    }
    .lgfifth{
        bottom: 30%;
        left: 5%;
    }
}
@media (min-width: 1440px) {
    .lgfirst{
        top: 30%;
        left: 10%;
    }
    .lgsecond{
        right: 20%;
    }
    .lgthird{
        bottom: 20%;
        left: 10%;
    }
    .lgfourth{
        left: 20%;
    }
    .lgfifth{
        bottom: 40%;
        right: 15%;
    }
}
@media (min-width: 2048px) {
    .lgfirst{
        top: 50%;
        left: 30%;
    }
    .lgsecond{
        right: 30%;
        top: 10%;
    }
    .lgthird{
        bottom: 40%;
        left: 40%;
    }
    .lgfourth{
        left: 30%;
        top: 20%;
    }
    .lgfifth{
        bottom: 30%;
        right: 20%;
    }
}
