.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  // padding: 2vh 5vw;
  min-height: 100vh;
}

.hero {
  img {
    max-height: 500px;
  }
}
.Section4{
  background: linear-gradient(180deg, #52B6EC 0%, rgba(82, 182, 236, 0) 100%);
}
.Section5{
  background: rgba(255, 153, 0, 0.8);

}