@media(min-width: 992px){
    .first,.second,.third,.fourth,.fifth{
        position: relative;
    }
    .first{
        top: 20%;
    }
    .second{
        left: 10%;
    }
    .third{
        bottom: 10%;
    }
    .fourth{
        left: 10%;
    }
    .fifth{
        bottom: 30%;
        left: 5%;
    }
}
@media (min-width: 1440px) {
    .first{
        top: 30%;
        left: 10%;
    }
    .second{
        right: 20%;
    }
    .third{
        bottom: 20%;
        left: 10%;
    }
    .fourth{
        left: 20%;
    }
    .fifth{
        bottom: 40%;
        right: 15%;
    }
}
@media (min-width: 2048px) {
    .first{
        top: 50%;
        left: 30%;
    }
    .second{
        right: 30%;
        top: 10%;
    }
    .third{
        bottom: 40%;
        left: 40%;
    }
    .fourth{
        left: 30%;
        top: 20%;
    }
    .fifth{
        bottom: 30%;
        right: 20%;
    }
}
    .first, .second, .third, .fourth, .fifth {
        animation: fadeIn 1s ease-in-out;
    }


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}